:root {
    --theme-color: #ffffff;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #EBEBEB;
    --green-color: #059136;
    --blue-color: #215B9D;
}

/*  */
* {
    box-sizing: inherit;
    font-size: inherit;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

html {
    font-size: 80%;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: var(--theme-color);
}

body {
    position:relative;
    margin: 0;
    font: 1rem/1.5 'Roboto Serif', sans-serif;

}

body p {
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* btn */

.btn {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    font-size: 1.6rem;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    user-select: none;
}

.btn--primary {
    background-color: var(--theme-color);
    color: var(--white-color);
}

.btn--withImg {
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 12px 5px;
}

.btn--withImg > span {
    padding: 3px 10px;
    font-size: 1.3rem;
    font-weight: 300;
}

.btn:hover {
    opacity:0.9;
}

/* Animation7 */

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.loader {
    position: fixed;
    left: calc(50% - 60px);
    top:  calc(50% - 60px);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 1000;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

