.qr {
    display: none;
    opacity: 0;
}

.contactInfo {
    padding: 15px 15px;
    font-size: 1.2rem;
}


.contactInfo_Table {
    margin-top: 5px;
    display:grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto auto auto auto;
    gap:2px;
}

.first_Col {
    text-align: left;
}


.contactInfo_IconBar img {    
    width: 50px;
    max-height:  auto;
}

.wrapper {
    width: 100%;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin-bottom:10px;
    display:flex;
    justify-content: center;
}

.contactInfo_IconBar {
    margin-left:10px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



/* Tablet menu */
@media all and (min-width: 600px) {

    .whatsapp {
        position: relative;
    }

    .qr {
        position: absolute;
        top: -260px;
        left: -100px;
        opacity: 1;
        transition: 3.5s;
        border: 1px solid grey;
        margin: 1px;
    }
    
    .whatsapp:hover .whatsapp_qr {
        display: block;      
        width: 250px; 
    }

    .facebook {
        position: relative;
    }
    
    .facebook:hover .facebook_qr {
        display: block;      
        width: 250px;        
    }

    .zalo {
        position: relative;
    }
    
    .zalo:hover .zalo_qr {
        display: block;      
        width: 250px;        
    }

    .telegram {
        position: relative;
    }
    
    .telegram:hover .telegram_qr {
        display: block;      
        width: 250px;        
    }
    
    /* .contactInfo_IconBar img {    
        max-width: 40px;
        max-height:  auto;
    }
    .contactInfo_IconBar {
        width: 400px;
       
    } */
}

